.backgroundPrincipal{
    background: url("./images/global/BG2.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.character-slider{
    background: url("./images/global/border1.png") no-repeat center;
    background-size: cover;
    color: white;
    display: flex;
    font-weight: bold;
    width: 35vw;
    height: 35vw;
    margin : auto;
    text-align: center;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.start, .rule{
    color: white;
    width: 80%;
    margin: auto
}
.player-list{
    position: absolute;
    right : 10vh;
    top : 20vh;
}
.player-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    width: 100%;
    margin: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.icon-backtomenu{
    position: absolute;
    right : 7vw;
    top : 1vh;
    width: 8vh;
    height: 8vh;
    background : url('./images/global/cross.png') no-repeat center;
    background-size: cover;
}
.icon-backtomenu:active{
    background : url('./images/global/crossactive.png') no-repeat center;
    background-size: cover;
}
.confirm-backtomenu{
    color: white;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    width: 100vw;
    height: 30vh;
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    z-index: 2;
}
.confirm-backtomenu>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.yes-backtomenu{
    margin:5px;
    height: 100px;
    width: 200px;
    background: url("./images/global/YES_HOVER.png") no-repeat center;
    background-size: cover;
}
.no-backtomenu{
    margin:5px;
    height: 100px;
    width: 200px;
    background: url("./images/global/BACK.png") no-repeat center;
    background-size: cover;
}